body {
    background: yellow;
    position: relative;
    height: 100vh;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: black;
    clip-path: ellipse(70% 100% at 0% 50%);
}